<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BudgetFirst.Common.Infrastructure.PlatformSpecific.Net461.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BudgetFirst.Common.Infrastructure.PlatformSpecific.Net461.Properties.Settings>
            <setting name="DeviceId" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="SettingsRequireUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoloadBudgetIdentifier" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentBudgetsSerialised" serializeAs="String">
                <value />
            </setting>
        </BudgetFirst.Common.Infrastructure.PlatformSpecific.Net461.Properties.Settings>
    </userSettings>
</configuration>